{% extends "base.html" %}

{% block body %}
{{ super() }}
<div id='modal_dialog'>Gathering your location...</div>
{% endblock %}

{% block j_content %}
<h1>Welcome!</h1>
<h5>This application will provide you with instructions on how to
get from your current location to the ClickTime office while stopping on the
way for donuts and coffee. The form below allows you to specify what mode
of transportation you want to use. It also allows you to specify a preference
as to what donut shop you want to go to (I am going to assume all donut shop have coffee). 
For now, you are allowed to choose the donut shop that is closest to the office, or most popular.
</h5>
</br>

{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='location.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></script>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
{% endblock %}